---
source_file: "ios/JarvisApp/Views/SettingsView.swift"
type: "code"
community: "SettingsView"
location: "L148"
tags:
  - graphify/code
  - graphify/EXTRACTED
  - community/SettingsView
---

# TestResult

## Connections
- [[dot-testConnection()]] - `calls` [EXTRACTED]
- [[Bool_3]] - `references` [EXTRACTED]
- [[SettingsView]] - `references` [EXTRACTED]
- [[SettingsView.swift]] - `contains` [EXTRACTED]
- [[String_3]] - `references` [EXTRACTED]

#graphify/code #graphify/EXTRACTED #community/SettingsView